/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5rem;
    font-size: 18px;
}

nav a:hover{
    border-top: 4px solid aquamarine;
    border-bottom: 4px solid aquamarine;
    padding: 6px 0; 
    color:black;
}
.navbar-expand-lg{
    display: inline-block;
   
}
.navbar-nav{
    margin-left: 500px;

}
.nav-item{
    margin: 10px;
}
header, footer{
background-color: #f2f4f2;
}

.site-title{
    color :aqua;
    font-size: 30px;
    line-height: 30px;
}
#my-image{
    box-shadow: 0px 0px 2px 1px black;
}

.list-group {
    list-style: decimal inside !important
}

.list-group-itemm{
    display: list-item !important;
    list-style: square !important;
   
}
.list-group-item:nth-child(7){
    background-color: grey;
}